@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Oswald&display=swap');

nav{
  padding: 3px 0;
  margin-right: 0%;
  margin: 0 auto;
  background-color:#5BC0DE;

}
nav>ul{
  padding-right: 30px;
  /* background-color:#5BC0DE; */
  height:40px;
  display: flex;
  justify-content: center;
}
nav>ul>li{
  display: flex;
  justify-content: center;        
}
nav>ul>li>a{
  text-transform: uppercase;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
nav>ul>li>a:hover{
  color:rgb(125, 125, 197);
}
#contacts{
  background-color:#5BC0DE;
  width: 100%;
  justify-content: space-around;
  padding: 70px;
}
#two{
display: flex;
justify-content: space-around;
}
.one{
text-align: center;
font-size: 58px;
font-family: 'Merriweather', serif;
}
p{
  font-size: 20px;
  text-align: center;
}
h5{
  text-align: center;
}
.container{
   text-align: center;
}
* {
  box-sizing: border-box;
}
 input[type=text], select, textarea {
  width: 300px;
  display: block  ;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  justify-content: center;
}
input[type=submit] {
  background-color:darkgreen;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #4553A0;
}
 .container {
  border-radius: 5px;
  background-color: #F2F2F2;
  padding: 10px;
}
.column {
  float: right;
  width: 40%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) { 
.column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  } */
  #frame{
      display: flex;
      margin-top: 50px;
      justify-content: space-around;
        margin: 10px;
      padding-top: 0%;
  }
   #Quick-contacts{
      text-align: center;
      font-size: 30px;
      padding: 0%;
      padding-left:120px;
  }
  img{
      width: 100%;
  }
  body{
    overflow-x: hidden;
  }
 
  img{
        width: 100%;
    }
     
    body{
      overflow-x: hidden;
    }
  
  
 #icons>a{
      text-transform: uppercase;
      color: black;
      padding-right: 20px;
      text-align: center;
      align-items: center;
 }
 #icons{
      background-color:#5BC0DE;
      padding-right: 40px;
      justify-content: center;
      text-align: center;
 }
h4{
  padding-left: 15%;
  font-size: 20px;
}
h5{
  padding-left: 15%;
  font-size: 20px;
  padding-top: 0%;
}