/* h3{
    text-align: center;
} */
#contacts{
    background-color:#5BC0DE;
    display: flex;
    width: 100%;
}
#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p{
    font-size: 20px;
    text-align: center;
}
h5{
    text-align: center;
}
.container{
     text-align: center;
}
* {
    box-sizing: border-box;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:darkgreen;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4553a0;
  }
  
  /* Style the container/contact section */
  /* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
   */
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 40%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    #frame{
        display: flex;
        /* float: right; */
        /* position: relative;
        right: 50%; */
        margin-top: 50px;
        /* width: 200px; */
        justify-content: space-around;
        margin: 10px;
    }
    #Quick contacts{
        text-align: center;
        font-size: 30px;
    }
    img{
        width: 100%;
    }
    /* .logo{
      width: 150px;
      height: auto;
      float: right;
    } */