/* h3{
    text-align: center;
} */
#contacts{
    background-color:#5BC0DE;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

p{
    font-size: 20px;
    text-align: center;
}
h5{
    text-align: center;
}
.container{
     text-align: center;
}
* {
    box-sizing: border-box;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:darkgreen;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4553a0;
  }
  
  /* Style the container/contact section  */
  /* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
   */
  /* Create two columns that float next to eachother */
  .column {
    float: right;
    width: 40%;
    margin-top: 6px;
    padding: 20px;
  }
   
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }
  
    #frame{
        display: flex;
        margin-top: 50px;
       justify-content: space-around;
        margin: 10px;
        padding-top: 10%;
    }
     #Quick-contacts{
        text-align: center;
        font-size: 30px;
        padding: 7%;
        padding-left:120px;
    } 
    img{
        width: 100%;
    }
     
    body{
      overflow-x: hidden;
    }
  
    nav>ul{
      padding-right: 30px;
      background-color:#5BC0DE;
      height:80px;
      display: flex;
      justify-content: center;
 }
 nav>ul>li{
      display: flex;
      justify-content: center;        
 }
 nav>ul>li>a{
      text-transform: uppercase;
      color: black;
      padding: 20px;
      text-align: center;
 }
 #icons>a{
      text-transform: uppercase;
      color: black;
      padding-right: 20px;
      text-align: center;
      align-items: center;
 }
 #icons{
      background-color:#5BC0DE;
      padding-right: 40px;
      justify-content: center;
      text-align: center;
 }
