@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

nav {
  /* max-width: 960px; */
  margin: 0px auto;
  padding: 10px 0;
  margin-right: 0%;
  background-color: #5bc0de;
}

nav > ul {
  text-align: right;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 14px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  background-color: none;
  border-radius: 15px;
  color: rgba(248, 245, 245, 0.733);
  font-size: 1.2rem;
}

nav > ul > li > a:hover {
  box-shadow: 0 0 10px rgba(252, 250, 250, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  /* background: rgb(0, 0, 0);
    color: whitesmoke; */
}

.img1,
.img2,
.img3 {
  height: 100vh;
}

.home2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(Images/image7.jpeg) center/ cover no-repeat fixed;
  height: 60vh;
}

#icons > a {
  padding-right: 30px;
}
h1 {
  font-family: "Merriweather", serif;
}
h5 {
  font-family: "Oswald", sans-serif;
}
.card {
  background-color: #5bc0de;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.card:hover {
  background-color: white;
  -webkit-transform: rotate(90deg);
  transform: rotate(10deg);
}
.card-body {
  background-color: #5bc0de;
}
.card-body:hover {
  background-color: white;
}
.h3-reponsive {
  font-family: "Merriweather", serif;
  
}
